<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>mock gulp</title>
    <!-- build:css css/common.css -->
    <link rel="stylesheet" href="/css/common.css">
    <!-- endbuild -->
  </head>
  <body>
    <% include partials/_header %>
    <img src="img/sample.png" width="45" alt="">
    <i class="icon icon-facebook"></i>
    <i class="icon icon-twitter"></i>
    <i class="icon icon-insta"></i>
    <% include partials/_footer %>
    <!-- build:js /js/common.js -->
    <script src="/js/common/bar.js"></script>
    <script src="/js/common/foo.js"></script>
    <!-- endbuild -->
  </body>
</html>
